body {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1, h2{
  letter-spacing: .1rem;
  font-weight: 500;
}

h1{
  font-size: 3rem;
}

h2{
  font-size: 2rem;
}
.heading, .phone{
  margin:50px;
}
.container{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top:50px;
}
.grandma-img{
height: 250px;
}
.phonecase{
  display: inline-block;
  border: solid 3px black;
  border-radius: 30px;
}
.phonescreen{
  display:flex;
justify-content: center;
align-items: center;
  height: 200px;
  border: solid 3px black;
  border-radius: 30px;
  margin:15px;
}
.onscreen{
  max-width: 200px;
  word-wrap:break-word;
}
.grid {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 80px 80px 80px;
  font-size: 1.5rem;
  padding: 0 5px;
  padding-bottom: 5px;
}
.key{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;
  border: 3px solid;
  border-radius: 15px;
  margin: 5px 10px;
}
.key:hover{
  background-color: lightgrey;
}
.number{
  padding: 0 25px;
  padding-top: 3px;
  padding-bottom: 20px;

}
.letters{
  margin-top: -20px;
  font-size: .8rem;
}
.otherkey{
  height:20px;
}

.hidden{
  border: none;
  color: white;
  }